:root {
    --color-dark: #1D594E;
    --color-dark2: #F2CB05;
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: #F23030;
    --color-red: rgb(184, 48, 35);
    --color-red2: rgb(146, 22, 17);
}

body {
    font-family: "Comic Sans MS", cursive;
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;

}

.content-add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#botao-new-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task {
    width: 20rem;
    border-radius: 1rem;
}

#botao-new-task {
    background-color: var(--color-dark2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

#botao-new-task:hover {
    background-color: var(--color-dark3);
}

#todo-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

}

#todo-list li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#todo-list li:hover {
    background-color: var(--color-dark3);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;
}


#botao-ok {
    border: none;
    background-color: var(--color-green);
    color: white;
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
    height: 50px;
}

#botao-ok {
    background-color: var(--color-green2);

}